doctype html
html
  head
    meta(charset='utf-8')
    title  用户详情
    link(rel='stylesheet', type='text/css', href='public/stylesheets/detail.css')
    script(type='text/javascript' src='public/javascripts/jquery.js')
    script(type='text/javascript' src='public/javascripts/validator.js')
    script(type='text/javascript' src='public/javascripts/jquery.cookie.js')
    script(type='text/javascript' src='public/javascripts/detail.js')
  body
    h1 用户详情
    div#block
      p#username .
      p#sid .
      p#phone .
      p#email .
      button#quit(name='quit') 登出
      button#changepassword(name='changepassword') 修改密码
    div#changepasswordblock.hidden
      form(methdo='post')
        label#loldpassword 原密码：
          input(type='password', name='oldpassword')
        label#lnewpassword 新密码：
          input(type='password', name='newpassword')
        label#lpasswordagain 确认密码：
          input(type='password', name='passwordagain')
        input#submit(type='button', value='修改')
  p.hidden 两次密码不一致
