extends layout

block content
    h1 用户详情
    div#block
      p#username 姓名：#{user.username}
      p#sid 学号：#{user.sid}
      p#phone 电话：#{user.phone}
      p#email 邮箱：#{user.email}
      button#quit(name='quit') 登出
      button#changepassword(name='changepassword') 修改密码
    div#changepasswordblock.hidden
      form(methdo='post')
        label#loldpassword 原密码：
          input(type='password', name='oldpassword')
        label#lnewpassword 新密码：
          input(type='password', name='newpassword')
        label#lpasswordagain 确认密码：
          input(type='password', name='passwordagain')
        input#submit(type='button', value='修改')
    p.hidden 两次密码不一致
    link(rel='stylesheet', type='text/css', href='stylesheets/detail.css')
    script(type='text/javascript' src='javascripts/validator.js')
    script(type='text/javascript' src='javascripts/detail.js')
