doctype html
html
  head
    title= title
    script(type='text/javascript' src='public/javascripts/jquery.js')
    script(type='text/javascript' src='public/javascripts/jquery.cookie.js')
  body
    block content
