doctype html
html
  head
    meta(charset='utf-8')
    title 用户注册
    script(type='text/javascript' src='public/javascripts/jquery.js')
    script(type='text/javascript' src='public/javascripts/validator.js')
    script(type='text/javascript' src='public/javascripts/jquery.cookie.js')
    script(type='text/javascript' src='public/javascripts/signup.js')
    link(rel='stylesheet', type='text/css', href='public/stylesheets/signup.css')
  body
    h1 用户注册
    div#block
      form(action='/api/regist', method='post')
        label#lusername 姓名：
          input#username(name='username')
        br
        label#lpassword 密码：
          input#password(name='password', type='password')
        br
        label#lpasswordagain 确认密码：
          input#passwordagain(name='passwordagain', type='passwordagain')
        br
        label#lsid 学号：
          input#sid(name='sid')
        br
        label#lphone 电话：
          input#phone(name='phone')
        br
        label#lemail 邮箱：
          input#email(name='email')
        br
        label#lcheck 验证码：
          input#check(name='check')
        br
        input#reset(type='reset', value='重置')
        input#submit(type='submit', value='提交')
        input#login(type='button', value='登录')
      div#error.hidden
        p#errorusername 6~18位英文字母、数字或下划线，必须以英文字母开头
        p#errorpassword 两次密码不相同
        p#errorsid 8位数字，不能以0开头
        p#errorphone 11位数字，不能以0开头
        p#erroremail 请输入合法邮箱
        p#errorcheck 验证码不正确
