extends layout

block content
    h1 用户登录
    div#block
      form(action='signin', method='post')
        label#lusername 用户名：
          input#username(name='username', maxlength=18)
          br

        label#lpassword 密码：
          input#password(name='password', type='password', maxlength=12)
          br

        label#lcheck 验证码：
          input#check(name='check', maxlength=6)
        span
          img#checkimg(src='/api/getcap', alt='验证码')
          br
        input#signup(type='button', value="注册")
        input#submit(type='submit', value='登录')
      div#error
        p #{error}
      script(type='text/javascript' src='javascripts/signin.js')
      link(rel='stylesheet', type='text/css', href='stylesheets/signin.css')

