<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>用户注册</title>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/signup.css" />
</head>
<body>
  <h1>用户注册</h1>
  <div id="block">
    <form action="http://localhost:8000" method="post">
      <label id='lusername'>姓名：<input name='username' /></label><br />
      <label id='lpassword'>密码：<input name='password' type='password' /></label><br />
      <label id='lpasswordagain'>确认密码：<input name='passwordagain' type='password' /></label><br />
      <label id='lsid'>学号：<input name='studentid' /></label><br />
      <label id='lphone'>电话：<input name='phone' /></label><br />
      <label id='lemail'>邮箱：<input name='email' /></label><br /><br />
      <input type="reset" id="reset" value="重置" />
      <input type="submit" id="submit" value="提交" />
      <input id='login' type="button"  value="登录" onclick="location.href='http://localhost:8000/login.html'"/>
    </form>
  </div>
</body>
</html>
