<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/signin.css">
</head>
<body>
  <h1>用户登录</h1>
  <div id='block'>
  <form action="">
    <label id='lusername'>用户名：<input id='username' name='username' /></label><br />
    <label id='lpassword'>密码：<input type="password" id="password" name='password' /></label><br />
    <label for="" id="lcheck">验证码：<input type="text" id="check" name='check'></label>
    <input id='signup' type="button"  value="注册" onclick="location.href='http://localhost:8000/login.html'"/>
    <input type="submit" id="submit" value="登录" />
  </form>
  </div>
</body>
</html>
